/*
    2.brand.css
    - These styles are used to set basic elements to fit to a brand.
    - It should be able to be added to a page no matter what the media type to set the brand.
    - It must not contain layout styles [ie margins,position,padding,display]. It would be used for: colors, text, fonts
    - It must not contain ids, only elements and classes
    
    These elements should be in a rough alphabetical order
*/

/* 
	Document Elements 
----------------------------------------------------*/

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }
/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* set global font family */
body, select, input, textarea {
	font-family: Georgia, Tahoma, Arial, Helvetica, "Nimbus Sans L", "Free Sans", Sans-Serif;
}	
body        {
	color: #444;
	font-size: 85%;
	line-height: 1.5;	
}
body.acc-med	{ font-size: 0.92em; }
body.acc-large	{ font-size: 1.1em; }


/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #009cc7; color:#fff; text-shadow: none; }
::selection { background:#009cc7; color:#fff; text-shadow: none; } 

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a { outline: none; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: none; }

a, a:visited, a:link      { color: #00ADEF; text-decoration: none; }
a:hover, a:active     { text-decoration: underline; }
a:focus     { text-decoration: underline; }
a img { border: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

abbr        {}
address     { }
blockquote p {
	color: #676767;
	font-size: 2.2em;
	line-height: 0.9em;
	padding: 10px 20px;
}

/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img { -ms-interpolation-mode: bicubic; }


p           { margin-bottom: 5px; }

pre { 
	/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}
code {
	background-color:#333333;
	padding: 0 5px; 
	color:#CCCCCC;
}
pre code { 
}

strong      {}
small { font-size:70%; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/*
    fonts
-----------------------------------------------------*/
.sans() {
    font-family: "league-gothic-1", "league-gothic-2", Tahoma, Arial, Helvetica, "Nimbus Sans L", "Free Sans", Sans-Serif;
}

/* 
	headers 
----------------------------------------------------*/
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
h1  { 
	font-size: 2em;
	padding: 5px 0 10px; 
}
h2  {
	border-top: dashed 3px #777;
	color:#999;
	font-size:1.85em;
	font-weight:normal;
	letter-spacing:-0.008em;
	line-height: 1.15em;	
	margin: 30px 0 0;	
	padding: 20px 0 11px;
}
h3  { 
	background: #efefef;
	font-size: 1.3em;
	font-weight: bold;
	margin: 15px 0 10px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
}
h4     {
	color: #000;
	font-size: 1.3em;
	font-weight: normal;
	margin: 10px 0 3px;
	padding: 5px 0 3px;
	text-transform: none;
}
h5          { 
	margin: 0 0 5px;
}
h6          { }

h2 strong,
h3 strong   { }


/* 
	lists 
----------------------------------------------------*/
dl          {}
dt          { font-weight: bold; }
dd          { }

li			{ }
ol          { padding-top: 5px; padding-left: 23px; }
ul          { padding: 5px 0 5px 20px; }
p + ul,
ul ul       { padding: 0 0 5px 20px; }

ul li       { }
ul li li    { list-style-image: none; list-style-type: circle; }
ul li li li { list-style-image: none; list-style-type: disc; }
ul li li li li { list-style-image: none; list-style-type: square; }

/* 
	tables
----------------------------------------------------*/
table { font-size:inherit; font:100%; }
tr {}
th {}
td {}
tr:nth-child(even) td{}
	
/* 
	forms 
----------------------------------------------------*/
button,select, input, textarea { font-size:99%; font-family: inherit; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

fieldset    {}
input { vertical-align: middle; }
label       { }
legend      { }
select      { }
textarea	{ vertical-align: 1px; }

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/*
    SlidingDoors Button
	(code supplied by http://www.filamentgroup.com/lab/update_styling_the_button_element_with_css_sliding_doors_now_with_image_spr/)
------------------------------------------------*/		
a.button,
button { 
	border: 0; 
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
	padding: 0;
	position: relative;
    text-decoration: none;
	vertical-align: middle;
}
button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}
	a.button span,
    	button span { 
		position: relative;
		display: -moz-inline-stack; 
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;	
	}

	a.button,
    	button { 
		background: transparent none;
		border: none;
		font-family: inherit !important;
        	height: 25px;
		/*line-height: 25px;*/
		outline: none;
		margin: 0px;
		margin-right:5px;
		padding: 0; 
		zoom: 1;
	}	
	html>body a.button,
    	html>body button {
	    margin: 0px;
	} 
	
	a.button {
	    display: inline-block;
	    line-height: 23px;
	}
		a.button span,
		button span {
			background: url(../images/buttons.png) no-repeat right 0;
			line-height: 14px;
			height: 20px;
			margin: 0;
			padding: 5px 18px 0 0;
			position: relative;
			text-align: center;
		}
		a.button span.btn-l,
        	button span.btn-l { 
			background: url(../images/buttons.png) no-repeat 0 0;
			height: 25px;
			left: 0;
			margin: 0;
			padding: 0;
			position: relative;
			top: 0;
			width: 18px;
		}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		/* Safari and Google Chrome only - fix margins */
		button span,
        button span.btn-l {
			margin-top: -1px;
		}
	}
	

        a.button:hover span.btn-l,
        a.button:focus span.btn-l,
		button:hover span.btn-l,
		button:focus span.btn-l { background-position: 0 -75px; }		

			a.button:hover span,
            a.button:focus span,
            button:hover span,
			button:focus span { background-position: right -75px; }

		a.button:active span.btn-l,
        button:active span.btn-l { background-position: 0 -150px; }		
			a.button:active span,
            button:active span { background-position: right -150px; }
			
/* blue button */			
	a.button.btn-blue span,
        button.btn-blue span { background-position: right -39px; }
	a.button.btn-blue span.btn-l,
        button.btn-blue span.btn-l { background-position: 0 -39px; }
		a.button.btn-blue:hover span.btn-l,
        a.button.btn-blue:focus span.btn-l,
        button.btn-blue:hover span.btn-l,
		button.btn-blue:focus span.btn-l { background-position: 0 -114px; }		
			a.button.btn-blue:hover span,
            a.button.btn-blue:focus span,
            button.btn-blue:hover span,
			button.btn-blue:focus span { background-position: right -114px; }
		a.button.btn-blue:active span.btn-l,
        button.btn-blue:active span.btn-l { background-position: 0 -189px; }		
			a.button.btn-blue:active span,
            button.btn-blue:active span { background-position: right -189px; }

