/* 
 * cp-dateField 
 * ------------------------------------------------------*/
.cp-dateField {
	clear: both;
	position: relative;
}
	div.cp-dateField .field-item {
		clear: none;
		display: inline;
		float: none;
	}
	div.cp-dateField .field-item:after {
		content: none;
		display: none;
	}
		div.cp-dateField .field-item .error-num {
			float: none;
		}
		div.cp-dateField .field-item .label-text {
			display: block !important;
			float: none; 
			height: 1px !important;
			left: -10000px !important; 
			top: auto !important; 
			position:absolute !important; 
			width: 1px !important; 
		}
		div.cp-dateField .field-item input {
			display: inline;
			float: none;
			width: 25px;
		}
		div.cp-dateField .field-item select {
			display: inline;
			float: none;
			width: 60px;
		}


/*************************************************************************************************/

/*
	buttons
------------------------------------------------*/
.button-group {
	clear: both;
}

/*
	clearing
------------------------------------------------*/
.field-group,
.field-item 
{ position: relative; zoom:1;}

.field-group:after,
.field-item:after 
{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/*
	error-num
------------------------------------------------*/
.error-num {
	background: #990000;
	color:#FFFFFF;
	float:left;
	padding:0 5px;	
}

/*
	field-group
------------------------------------------------*/
.field-group {
	clear: both;
	position: relative;	
}
	.field-group ul {
		float: left;
		margin: 0;
		padding: 0;
	}
		div.field-group ul .field-item {
			display:block;
		}
			.field-group ul .field-item .label-text {
				display: inline;
			}
			div.field-group ul .field-item input {
				display: inline;						
			}
			.field-group ul.field-radioItems .field-item input {
				height: 20px;
				margin: -2px 4px 0 2px;
				padding: 0;
				width: 20px;
			}
			.field-group ul.field-checkItems .field-item input {
				height: 20px;
				margin: -2px 4px 0 2px;
				padding: 0;			
				width: 20px;
			}		
			.field-group ul .label-detail {
			}

/*
 * field-groupTerror
 ------------------------------------------------*/
.field-groupTerror {}
	.field-groupTerror .field-group-header {
		color: #990000;
	}

/* 
 * 	field-groupTh
	added to field-group makes inputs horizontal
 * -------------------------------------------------*/
.field-groupTh {
}
	div.field-groupTh ul {
		display: inline;
	}
		div.field-groupTh .field-item,
		div.field-groupTh ul .field-item {
			clear: none;
			display: inline;
			float: left;
		}
		div.field-groupTh .field-item .label-text {
			display: inline;
			float: none;
			vertical-align: middle;
			white-space: nowrap;
		}
        div.field-groupTh .field-radioItems,
        div.field-groupTh .field-checkItems {
            position: relative;
            top: -2px;
        }
		div.field-groupTh .field-item input {
			display: inline;
			float: none;
			vertical-align: middle;
		}
        div.field-groupTh ul.field-radioItems .field-item input,
        div.field-groupTh ul.field-checkItems .field-item input {
            margin: 0;
        }

/*
 * field-radioItems
 -----------------------------------------------*/
.field-radioItems,
.field-checkItems {}

/*
 * formTmargin
 -----------------------------------------------*/
.formTmargin {}
	.formTmargin h2,
	.formTmargin h3,
	.formTmargin h4,
	.formTmargin h5,
	.formTmargin fieldset { clear: both; }
	
	.formTmargin .field-item {
		clear: both;
		display: block;
	}
		.formTmargin .field-item .label-text {
			display: block;
			float: left;
		}
		.formTmargin .field-item select,
		.formTmargin .field-item textarea,
		.formTmargin .field-item input {
			display: block;
			float: left;
		}
	.formTmargin .field-group-header,
	div.field-group .field-group-headerTmargin {
		display: block;
		float: left;
		position: relative;
		width: 100px;
	}
	.formTmargin .button-group {
		padding-left: 100px;
	}

/*
 * formTstack
 -----------------------------------------------*/
.formTstack {}
	.formTstack h2,
	.formTstack h3,
	.formTstack h4,
	.formTstack h5,
	.formTstack fieldset { clear: both; }
	
	.formTstack .field-group-header,
	div.field-group .field-group-headerTstack {
		display: block;
		float: none;
	}
	.formTstack .field-item {
		clear: both;
		display: block;
	}
		.formTstack .field-item .label-text {
			display: block;
		}
		.formTstack .field-item select,
		.formTstack .field-item textarea,
		.formTstack .field-item input {
			display: block;
		}
	.formTstack .button-group {
	}



/*
 * .field-item
 -----------------------------------------------*/
.field-item {
	cursor: default;
}
	.label-detail {
		clear:both;
	}

/*
 * field-itemTerror
 ------------------------------------------------*/
.field-itemTerror {}
	.field-itemTerror .label-text {
		color: #990000;
	}
	.field-itemTerror input[type=text] {
		border-color: #990000;
		color: #990000;
	}
	.field-itemTerror select {
		color: #990000;
	}
	.field-itemTerror textarea {
		color: #990000;
	}
    .label-error-msg {
        display: block;
    }