<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - Dave Taylor (@davetayls) Front-End Web Developer</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet/less" href="{{ site.siteroot }}/css/core.less">
  <link rel="stylesheet/less" media="handheld" href="{{ site.siteroot }}/css/handheld.css">
  <script src="{{ site.siteroot }}/scripts/less.js"></script>
  
  <script src="{{ site.siteroot }}/scripts/modernizr-1.5.min.js"></script>

</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container">

	<div id="contents">
		<div>
			<label for="search" title="Access Key: 4">Search</label>
			<input accesskey="4" title="Access Key: 4" type="text" id="search" />
		</div> 
		<ul id="toc"></ul> 
	</div>
    <div id="main">
		{{ content }}	
    </div>
    
  </div> <!-- end of #container -->

  <script type="text/javascript" src="{{ site.siteroot }}/scripts/syntaxhighlighter/scripts/shCore.js"></script>
  <script type="text/javascript" src="{{ site.siteroot }}/scripts/syntaxhighlighter/scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="{{ site.siteroot }}/scripts/syntaxhighlighter/scripts/shBrushCss.js"></script>
  <script data-main="core/main" type="text/javascript" src="{{ site.siteroot }}/scripts/require-jquery-1.4.3.js"></script>

	<!--[if lt IE 7 ]>
	<script src="{{ site.siteroot }}/lib/dd_belatedpng.js"></script>
	<script>DD_belatedPNG.fix('.png_bg, img');</script>
	<![endif]-->

  
  <!--
	<script>
		var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']]; 
		(function(d, t) {
		var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
		g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
  -->
</body>
</html>