<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="Front-End Standards, Best Practices and Structures">
  <meta name="author" content="Dave Taylor http://the-taylors.org">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <link rel="stylesheet" href="{{ page.relativePath }}css/core.css">
  <link rel="stylesheet" media="handheld" href="{{ page.relativePath }}css/handheld.css">
  
  <script src="{{ page.relativePath }}scripts/modernizr-1.5.min.js"></script>

</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container">

	<div id="contents">
		<div id="searcharea">
			<label for="search" title="Access Key: 4">Search</label>
			<input accesskey="4" title="Access Key: 4" type="text" id="search" />
            <div><small>(you can use accesskey 4)</small></div>
		</div> 
		<ul id="toc"></ul> 
	</div>
    <script id="revHistoryTemplate" type="text/x-jquery-tmpl">
        <li>
            <a href="${author.uri}"><img src="${thumbnail.url}" alt="" />${author.name}</a> ${html content.content}
        </li>
    </script>
    <div id="main">
		{{ content }}	
    </div>
    
  </div> <!-- end of #container -->

  <script type="text/javascript" src="{{ page.relativePath }}scripts/syntaxhighlighter/scripts/shCore.js"></script>
  <script type="text/javascript" src="{{ page.relativePath }}scripts/syntaxhighlighter/scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="{{ page.relativePath }}scripts/syntaxhighlighter/scripts/shBrushCss.js"></script>
  <script data-main="core/main" type="text/javascript" src="{{ page.relativePath }}scripts/require-jquery-1.4.3.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4421586-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>